<h1>Enviar Mensaje</h1>
<button id="session">Cerrar sesión</button>
<form>
  <input type="text" placeholder="Mensaje">
  <button type="submit">Enviar</button>
</form>
<h2>Mensajes</h2>
<ul id="mensajes"></ul>


<script src="/static/js/logout.js"></script>